<div ng-include src="'views/templates/menu.html'"></div>

<div id="ww">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="images/user.png" alt="Stanley">
				<h1>Hi, I am {{name}}!</h1>
				<p>Hello everybody. I'm {{name}}, a free handsome bootstrap theme coded by BlackTie.co. A really simple theme for those wanting to showcase their work with a cute & clean style.</p>
				
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->

<div ng-include src="'views/templates/footer.html'"></div>