<div ng-include src="'views/templates/menu.html'"></div>

<div id="ww">
    <div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 centered">

				<h1>Your collection</h1>

				<table class="table">
				    <thead>
				        <tr>
				            <th class="col-md-3 centered" ng-repeat="prop in properties">{{prop}}</th>
				        </tr>
				    </thead>
				    <tbody ng-repeat="item in collection" ng-class="isChosen($index) == true ? 'edditing' : ''">

						<!-- IF ITEM IS NOT EDDITING -->
				        <tr ng-show="!isEditing($index)" ng-click="clickChoose($index)">
				            <td>{{item.type}}</td>
				            <td>{{item.name}}</td>
				            <td>{{item.author}}</td>
				            <td>{{item.borrowed}}</td>
						</tr>

						<!-- IF ITEM IS EDDITING -->
				        <tr ng-show="isEditing($index)">
				            <td><select class="form-control" ng-model="item.type" ng-options="type as type for type in types"></select></td>
				            <td><input  class="form-control" ng-model="item.name" type="text"></td>
				            <td><input  class="form-control" ng-model="item.author" type="text"></td>
				            <td>{{item.borrowed}}</td>
						</tr>

						<!-- IF ITEM IS BORROWED SHOW THIEF -->
				        <tr ng-show="isChosen($index) && item.borrowed">
				            <td colspan="4" ng-click="clickChoose($index)">
				            	<div> {{item.thief.name}} {{item.thief.subname}} </div>
				            	<div> {{item.thief.mail}} </div>
				            	<div> {{item.thief.phone}} </div>
				            	<div> from {{item.thief.date.d}}.{{item.thief.date.m}}.{{item.thief.date.y}} </div>
				            	<div ng-show="item.thief.period"> 
				            		to {{item.thief.date_return.d}}.{{item.thief.date_return.m}}.{{item.thief.date_return.y}} 
				            	</div>
				            </td>
						</tr>

						<!-- SETTING THIEF -->
					    <tr ng-show="isChosen($index) && !item.borrowed && borrow">
						    <td></td>
						    <td colspan="2">
					      		<form name="myForm">
						          	Name: 	<input 	required 
						          					name="name"
						          					type="text"
						          					class="form-control"
						          					ng-model="thief.name" 
						          					ng-class="myForm.name.$valid ? 'correct' : 'wrong'">
						          			<br>
						            Subname:<input 	required 
						          					name="subname"
						          					type="text"
						            				class="form-control" 
						            				ng-model="thief.subname"
						          					ng-class="myForm.subname.$valid ? 'correct' : 'wrong'">
						            		<br>
							        Mail:	<input 	required  	
						          					name="email"	
							        				type="email"
							        				class="form-control" 
							        				ng-model="thief.mail"
						          					ng-class="myForm.email.$valid ? 'correct' : 'wrong'">
							        		<br>
							        Phone:	<input 	required 
						          					name="phone"	
							        				type="number"
							        				class="form-control" 
							        				ng-model="thief.phone"
						          					ng-class="myForm.phone.$valid ? 'correct' : 'wrong'">
							        		<br>
							        Period (days):	
							        		<input 	required 
						          					name="period"	
							        				type="number"
							        				class="form-control" 
							        				ng-model="thief.period"
						          					ng-class="myForm.period.$valid ? 'correct' : 'wrong'">
							        		<br>
							        <button class="btn btn-default btn-xs"
							          		ng-click="clickAccept($index)" 
							          		ng-show="borrow">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
							        <button class="btn btn-default btn-xs"
							           		ng-click="clickDoNotAccept()" 
							           		ng-show="borrow">
									  	<span class="glyphicon glyphicon-remove"></span>
									</button>
					       		</form>
						    </td>
						    <td></td>
						</tr>

						<tr class="options" ng-show="isChosen($index) && !borrow">
				            <td colspan="4">
				            	<button class="btn btn-danger" 
				            			ng-click="clickDelete($index)" 
				            			ng-show="!borrow && !isEditing($index)">
				            		Delete
				            	</button>
				            	<button class="btn btn-info" 
				            			ng-click="clickBorrow($index)" 
				            			ng-show="!borrow && !isEditing($index) && !item.borrowed">
				            		Borrow
				            	</button>
				            	<button class="btn btn-success" 
				            			ng-click="clickReturn($index)" 
				            			ng-show="!borrow && !isEditing($index) && item.borrowed">
				            		Return
				            	</button>
				            	<button class="btn btn-warning" 
				            			ng-click="clickEditing($index)" 
				            			ng-show="!borrow && !isEditing($index)">
				            		Edit
				            	</button>
				            	<button class="btn btn-success" 
				            			ng-click="clickEditing($index)" 
				            			ng-show="!borrow && isEditing($index)">
				            		Accept
				            	</button>
				            </td>
						</tr>
				    </tbody>
				</table>

				<button class="btn btn-success" 
						ng-click="clickAdd()" 
						ng-show="!adding && chosen == -1">
		       		Add new item
				</button>
				<button class="btn btn-default btn-xs" 
						ng-click="clickAddAccept()" 
						ng-show="adding">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<button class="btn btn-default btn-xs" 
						ng-click="clickAddNoAccept()" 
						ng-show="adding">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->

<div ng-include src="'views/templates/footer.html'"></div>