<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>My Bunker</h4>
				<p>
					Street 987,<br/>
					+48 555 555 555, <br/>
					Poznań, Poland.
				</p>
			</div><!-- /col-lg-4 -->
			
			<div class="col-lg-4">
				<h4>Visit me at</h4>
				<p>
					<a href="#">LinkedIn</a><br/>
					<a href="#">Twitter</a><br/>
					<a href="#">Facebook</a>
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-lg-4">
				<h4>{{VAR.name}}</h4>
				<p>This cute app was created only for educational purposes on Politechnika Poznańska.</p>
			</div><!-- /col-lg-4 -->			
		</div>	
	</div>
</div>